<%= include_gon %>
<h3><%= @week.start_day %></h3>
<h4><%= link_to 'Entries', week_entries_path(@week.id) %></h4>
<%= pie_chart @week.project_data %>
<%= column_chart @week.task_data %>

Goals:
<ul>
    <li>Less than 5 hours of play</li> 
    <li>Greater than 10 hours of Social</li>
    <li>Less than 35 hours of School</li>
</ul>
<div id="projectBarChart"></div>
