<h1>Listing entries</h1>
<% @data_by_day.each do |day, data| %>
  <h5><%= Date::DAYNAMES[day.wday] %></h5>
<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Stop</th>
      <th>Project</th>
      <th>Task</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
      <% data.each do |entry| %>
        <tr>
          <td><%= entry.pretty :start_time %></td>
          <td><%= entry.pretty :stop_time %></td>
          <td><%= entry.project ? entry.project.name : "" %></td>
          <td><%= entry.task ? entry.task.name : "" %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

