<h1>Listing goals</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Type</th>
      <th>Task</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.amount %></td>
        <td><%= goal.type %></td>
        <td><%= goal.task %></td>
        <td><%= link_to 'Show', goal_path(goal.id) %></td>
        <td><%= link_to 'Edit', edit_goal_path(goal.id) %></td>
        <td><%= link_to 'Destroy', goal_path(goal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal', new_goal_path %>
