<!DOCTYPE html>
<html>
<head>
  <title>JiffyAnalysisRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Reports</a></li>
      <li><%= link_to 'Goals', new_goal_path %></li>
    </ul>

    <body data-controller="<%= controller.controller_name %>"
      data-action="<%= controller.action_name %>" >
    
    <%= yield %>
    
    </body>
</div>
</html>
